.start-page {
  position: relative;
  margin: -91px 0 0 0;
  padding: 91px 0 0 0;

  @include vp--1023 {
    margin: -50px 0 0;
    padding: 50px 0 0 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 91px;
    width: 80%;
    height: calc(100% - 91px);
    background-color: $main-color;
    border-radius: 0 90px 90px 0;
    z-index: -1;

    @include vp--1439 {
      width: 88%;
    }

    @include vp--1199 {
      width: 93%;
    }

    @include vp--1023 {
      top: 50px;
      height: 418px;
    }

    @include vp--767 {
      width: 100%;
      height: 365px;
      border-radius: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 48%;
    height: 543px;
    background-color: #fff8f7;
    border-radius: 0 0 0 120px;
    z-index: -1;

    @include vp--1439 {
      width: 46%;
    }

    @include vp--1199 {
      width: 47%;
    }

    @include vp--1023 {
      width: 332px;
      height: 318px;
    }

    @include vp--767 {
      width: 310px;
    }

    @include vp--569 {
      width: 200px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 55px;
    max-width: 1140px;
    margin: 0 auto;
    min-height: 701px;
    z-index: 10;

    @include vp--1439 {
      padding: 0 60px;
    }

    @include vp--1199 {
      padding: 0 60px 10px;
    }

    @include vp--1023 {
      min-height: 586px;
      padding: 68px 15px 30px;
      justify-content: space-between;
    }

    @include vp--767 {
      min-height: 660px;
      padding: 30px 15px 0;
    }
  }

  &__main-image {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: -1;

    @include vp--1439 {
      right: 60px !important;
    }

    @include vp--1023 {
      right: 15px !important;
    }

    @include vp--767 {
      right: 30px !important;
    }

    @include vp--569 {
      right: -80px !important;
    }

    & img {
      @include vp--1439 {
        width: 460px !important;
      }

      @include vp--1023 {
        width: 317px !important;
        height: 417px !important ;
      }

      @include vp--767 {
        right: 30px !important;
        width: 277px !important;
        height: 365px !important;
      }

      @include vp--569 {
        right: -80px !important;
        width: 277px !important;
        height: 365px !important;
      }
    }
  }

  &__text-wrapper {
    max-width: 50%;

    @include vp--1439 {
      max-width: 55%;
    }

    @include vp--767 {
      max-width: 49%;
    }
  }

  &__help-text {
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1rem;
    color: $button-color;
    margin: 0 0 35px;

    @include vp--767 {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0 0 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 3.625rem;
    line-height: 4.625rem;
    margin: 0 0 35px;
    color: $dark-text;

    @include vp--1199 {
      font-size: 3.2rem;
    }

    @include vp--1023 {
      font-size: 2.875rem;
      line-height: 3.5rem;
      margin: 0 0 30px;
    }

    @include vp--767 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 0 0 20px;
    }
  }

  &__info-text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: $light-text;
    margin: 0;

    @include vp--767 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
