.make-order {
  padding: 120px 0 110px;

  @include vp--1023 {
    padding: 100px 15px;
  }

  @include vp--767 {
    padding: 58px 15px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
    box-shadow: 0px 0px 31px 12px rgba(38, 66, 162, 0.1);
    border-radius: 30px;

    @include vp--1439 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        'left right'
        'form form';
      column-gap: 100px;
      row-gap: 50px;
    }
  }

  &__form-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, #2c48a5 -10.62%, #38adee 100%);
    border: 16px solid #ffffff;
    column-gap: 70px;
    border-radius: 30px;
    align-items: center;
    padding: 0 52px 0 473px;
    min-height: 405px;

    @include vp--1439 {
      grid-area: form;
      margin: 0 auto;
    }

    @include vp--1023 {
      max-width: none;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__help-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    margin: 0 0 8px;
    color: $button-color;

    @include vp--767 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $color-default-white;
    margin: 0 0 60px;
    text-align: start;

    @include vp--767 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 0 0 40px;
    }

    span {
      color: $button-color;
    }
  }

  &__image {
    position: absolute;
    min-width: 160px !important;
    min-height: 280px !important;
    left: 90px;
    bottom: 0;
    @include vp--1023 {
      display: none !important;
    }
    & img {
      width: auto !important;
      height: auto !important;
      object-fit: contain !important;
    }

    &--left {
      @include vp--1439 {
        grid-area: left;
      }

      & img {
        @include vp--1439 {
          margin-left: auto !important;
        }
      }
    }

    &--right {
      @include vp--1439 {
        grid-area: right;
      }
    }
  }
}
